a#codekeeper-whatsnew img { background-image : url(../../../intro/icons/whats_news.png);}
a#codekeeper-overview img { background-image : url(../../../intro/icons/app_icon64.png);}
a#codekeeper-newproject img { background-image : url(../../../intro/icons/project_add.png);}
a#codekeeper-compare img { background-image : url(../../../intro/icons/compare.png);}
