a#codekeeper-whatsnew img { background-image : url(icons/whats_news.png);}
a#codekeeper-overview img { background-image : url(icons/app_icon64.png);}
a#codekeeper-newproject img { background-image : url(icons/project_add.png);}
a#codekeeper-compare img { background-image : url(icons/compare.png);}
