<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="app" sequenceNumber="56">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20140519-0339"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.source.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.pgm.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.pgm.source.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.egit.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.http.apache.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.java7.feature.group" version="3.4.1.201406201815-r"/>
<repository location="http://download.eclipse.org/egit/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.12.0.v201406061321-7PB21FEpPZQXdcX0z-_yMM0Hfz0w"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.10.0.v20140606-1536"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140606-1602"/>
<unit id="org.eclipse.platform.ide" version="4.4.0.I20140606-1215"/>
<unit id="org.eclipse.pde.feature.group" version="3.10.0.v20140606-1215"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_tools.tm_ru.feature.group" version="4.4.0.v20140623020002"/>
<unit id="org.eclipse.babel.nls_soa.stardust_ru.feature.group" version="4.4.0.v20140623020002"/>
<unit id="org.eclipse.babel.nls_rt.rap_ru.feature.group" version="4.4.0.v20140623020002"/>
<unit id="org.eclipse.babel.nls_webtools_ru.feature.group" version="4.4.0.v20140623020002"/>
<unit id="org.eclipse.babel.nls_mylyn_ru.feature.group" version="4.4.0.v20140623020002"/>
<unit id="org.eclipse.babel.nls_technology.packaging_ru.feature.group" version="4.4.0.v20140623020002"/>
<unit id="org.eclipse.babel.nls_eclipse_ru.feature.group" version="4.4.0.v20140623020002"/>
<unit id="org.eclipse.babel.nls_datatools_ru.feature.group" version="4.4.0.v20140623020002"/>
<repository location="http://download.eclipse.org/technology/babel/update-site/R0.12.0/luna/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.14.0.v20140502-1911"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.source.feature.group" version="0.14.0.v20140402-1524"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.14.0.v20140402-1524"/>
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="0.14.0.v20140502-1911"/>
<repository location="http://storage.chelny.taximaxim.ru/codekeeper/p2/e4/I20140504-2200_custom_build/"/>
</location>
</locations>
</target>
