<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="app" sequenceNumber="78">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.10.0.v20140925-0400"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140909-1633"/>
<unit id="org.eclipse.platform.ide" version="4.4.1.M20140925-0400"/>
<unit id="org.eclipse.pde.feature.group" version="3.10.0.v20140925-0400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.draw2d.source.feature.group" version="3.9.101.201408150207"/>
<unit id="org.eclipse.draw2d.feature.group" version="3.9.101.201408150207"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.9.101.201408150207"/>
<repository location="http://download.eclipse.org/tools/gef/updates/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20140519-0339"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.12.0.v201406061321-7PB21FEpPZQXdcX0z-_yMM0Hfz0w"/>
<repository location="http://download.eclipse.org/datatools/updates/1.12"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.source.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.pgm.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.java7.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.http.apache.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.egit.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.pgm.source.feature.group" version="3.4.1.201406201815-r"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
</target>
