<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="app" sequenceNumber="19">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.14.0.v20130620-0935"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.14.0.v20130617-1345"/>
<repository location="http://download.eclipse.org/e4/downloads/drops/R-0.14-201306242200/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.9.1.v20130911-1000"/>
<unit id="org.eclipse.platform.ide" version="4.3.1.M20130911-1000"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20130807-1835"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86</arch>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Djava.library.path=/usr/lib/i386-linux-gnu/jni -Dosgi.requiredJavaVersion=1.6 -XX:MaxPermSize=256m -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
