<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ru.taximaxim.codekeeper.mainapp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product_codekeeper"
         point="org.eclipse.core.runtime.products">
      <product
            application="ru.taximaxim.codekeeper.mainapp.application"
            name="pgCodeKeeper">
         <property
               name="appName"
               value="pgCodeKeeper">
         </property>
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="aboutImage"
               value="icons/product.png">
         </property>
         <property
               name="aboutText"
               value="pgCodeKeeper">
         </property>
         <property
               name="windowImages"
               value="icons/product.png">
         </property>
      </product>
   </extension>

</plugin>
