<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ru.taximaxim.codekeeper.mainapp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product_codekeeper"
         point="org.eclipse.core.runtime.products">
      <product
            application="ru.taximaxim.codekeeper.mainapp.application"
            name="pgCodeKeeper">
         <property
               name="appName"
               value="pgCodeKeeper">
         </property>
         <!--property
               name="persistState"
               value="false">
         </property-->
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://ru.taximaxim.codekeeper.ui/ru.taximaxim.codekeeper.ui.LifeCycleHandler">
         </property>
         <property
               name="applicationXMI" value="ru.taximaxim.codekeeper.mainapp/Application.e4xmi">
         </property>
      </product>
   </extension>

</plugin>
