<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntBuilderLaunchConfigurationType">
    <booleanAttribute key="org.eclipse.ant.ui.ATTR_TARGETS_UPDATED" value="true"/>
    <booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="false"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/apgdiff&quot; type=&quot;4&quot;/&gt;&#10;&lt;/resources&gt;}"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="apgdiff"/>
    <mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
        <mapEntry key="build-fileset" value="${build_files:fac}"/>
        <mapEntry key="build-project-location" value="${build_project}"/>
        <mapEntry key="eclipse.home" value="${eclipse_home}"/>
        <mapEntry key="eclipse.running" value="true"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_BUILD_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/apgdiff/antlr-src/IgnoreList.g4&quot; type=&quot;1&quot;/&gt;&#10;&lt;item path=&quot;/apgdiff/antlr-src/Privileges.g4&quot; type=&quot;1&quot;/&gt;&#10;&lt;item path=&quot;/apgdiff/antlr-src/SQLLexer.g4&quot; type=&quot;1&quot;/&gt;&#10;&lt;item path=&quot;/apgdiff/antlr-src/SQLParser.g4&quot; type=&quot;1&quot;/&gt;&#10;&lt;item path=&quot;/apgdiff/antlr-src/TSQLLexer.g4&quot; type=&quot;1&quot;/&gt;&#10;&lt;item path=&quot;/apgdiff/antlr-src/TSQLParser.g4&quot; type=&quot;1&quot;/&gt;&#10;&lt;/resources&gt;}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/apgdiff/antlr-src/build-antlr-ant.xml}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="full,incremental,auto,"/>
    <booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
</launchConfiguration>
