<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="app" sequenceNumber="99">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.5.1.M20150904-0015"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.1.v20150831-1342"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.zest.feature.group" version="1.6.1.201508170204"/>
<repository location="http://download.eclipse.org/tools/gef/updates/releases/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
</location>
</locations>
</target>
