<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="app" sequenceNumber="128">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220830213456/repository" />
			<unit id="org.junit" version="4.13.2.v20211018-1956" />
			<unit id="org.kohsuke.args4j" version="2.33.0.v20160323-2218" />
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-09" />
			<unit id="org.eclipse.egit.feature.group" version="6.3.0.202209071007-r" />
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.500.v20220826-1025" />
			<unit id="org.eclipse.platform.feature.group" version="4.25.0.v20220831-1800" />
			<unit id="org.eclipse.zest.feature.group" version="3.14.0.202206170857" />
		</location>
	</locations>
</target>