<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="app_202006" sequenceNumber="128">
<locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
        <repository location="https://download.eclipse.org/releases/2020-06"/>
        <unit id="org.eclipse.egit.feature.group" version="5.8.0.202006091008-r"/>
        <unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.200.v20200528-0603"/>
        <unit id="org.eclipse.platform.feature.group" version="4.16.0.v20200604-0951"/>
        <unit id="org.eclipse.zest.feature.group" version="1.7.0.201606061308"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
        <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository"/>
        <unit id="org.apache.httpcomponents.httpclient" version="4.5.10.v20200114-1512"/>
        <unit id="org.apache.httpcomponents.httpcore" version="4.4.12.v20200108-1212"/>
        <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
        <unit id="org.junit" version="4.13.0.v20200204-1500"/>
        <unit id="org.kohsuke.args4j" version="2.33.0.v20160323-2218"/>
    </location>
</locations>
</target>