<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="app_202103" sequenceNumber="128">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-03"/>
			<unit id="org.eclipse.egit.feature.group" version="5.11.0.202103091610-r"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.22.0.v20210227-0235"/>
			<unit id="org.eclipse.platform.feature.group" version="4.19.0.v20210303-1800"/>
			<unit id="org.eclipse.zest.feature.group" version="1.7.0.201606061308"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository"/>
			<unit id="org.kohsuke.args4j" version="2.33.0.v20160323-2218"/>
			<unit id="org.junit.jupiter.api" version="5.7.1.v20210222-1948"/>
			<unit id="org.junit.jupiter.params" version="5.7.1.v20210222-1948"/>
			<unit id="org.junit.jupiter.engine" version="5.7.1.v20210222-1948"/>
			<unit id="org.junit" version="4.13.0.v20200204-1500"/>
			<unit id="org.junit.platform.commons" version="1.7.1.v20210222-1948"/>
			<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
			<unit id="ch.qos.logback.slf4j" version="1.2.3.v20200428-2012"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.github.technology16</groupId>
					<artifactId>PgPass</artifactId>
					<version>1.0.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.postgresql</groupId>
					<artifactId>postgresql</artifactId>
					<version>42.6.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.microsoft.sqlserver</groupId>
					<artifactId>mssql-jdbc</artifactId>
					<version>12.4.2.jre11</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.jdbc</artifactId>
					<version>1.1.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.antlr</groupId>
					<artifactId>antlr4-runtime</artifactId>
					<version>4.13.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.jgrapht</groupId>
					<artifactId>jgrapht-core</artifactId>
					<version>1.5.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.jheaps</groupId>
					<artifactId>jheaps</artifactId>
					<version>0.14</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.javers</groupId>
					<artifactId>javers-core</artifactId>
					<version>7.3.3</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>