<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.console.consoleFactories">
        <consoleFactory
            class="ru.taximaxim.codekeeper.ui.consoles.ConsoleFactory"
            icon="icons/app_icon16.png"
            label="%consoleFactory.label.keeperConsole">
        </consoleFactory>
    </extension>
    <extension point="org.eclipse.ui.contexts">
        <context
            id="ru.taximaxim.codekeeper.ui.pgCodeKeeper"
            name="%context.name.keeperContext"
            parentId="org.eclipse.ui.contexts.window">
        </context>
        <context
            id="ru.taximaxim.codekeeper.ui.pgCodeKeeperEditorScope"
            name="%context.name.keeperEditorContext"
            parentId="org.eclipse.ui.textEditorScope">
        </context>
    </extension>
    <extension point="org.eclipse.ui.commands">
        <category
            id="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            name="%category.name.keeperCategory">
        </category>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.Diff"
            id="ru.taximaxim.codekeeper.ui.command.Diff"
            name="%command.commandname.Diff">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.CommitProject"
            id="ru.taximaxim.codekeeper.ui.command.CommitProject"
            name="%command.commandname.CommitProject">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.DiffProject"
            id="ru.taximaxim.codekeeper.ui.command.DiffProject"
            name="%command.commandname.DiffProject">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.AddDepcy"
            id="ru.taximaxim.codekeeper.ui.command.AddDepcy"
            name="%command.commandname.AddDepcy">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            id="ru.taximaxim.codekeeper.ui.command.GetChanges"
            name="%command.commandname.GetChanges">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.OpenEditor"
            id="ru.taximaxim.codekeeper.ui.openeditor"
            name="%command.name.openProjectEditor">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.NormalizeProject"
            id="ru.taximaxim.codekeeper.ui.command.normalizeProject"
            name="%command.name.normalizeProject">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.AddBuilder"
            id="ru.taximaxim.codekeeper.ui.command.AddBuilder"
            name="%command.name.addBuilder">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.RemoveBuilder"
            id="ru.taximaxim.codekeeper.ui.command.RemoveBuilder"
            name="%command.name.removeBuilder">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.FeedBack"
            id="ru.taximaxim.codekeeper.ui.feedBack"
            name="%command.name.feedback">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.ImprovePerformanceJdbcLoader"
            id="ru.taximaxim.codekeeper.ui.command.ImprovePerformanceJdbc"
            name="%command.name.improvePerformanceJdbc">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            id="ru.taximaxim.codekeeper.ui.command.QuickUpdate"
            name="%command.commandname.QuickUpdate">
        </command>
        <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            id="ru.taximaxim.codekeeper.ui.command.UpdateDdl"
            name="%command.commandname.UpdateDdl">
        </command>
    </extension>
    <extension point="org.eclipse.ui.handlers">
        <handler
            class="ru.taximaxim.codekeeper.ui.handlers.GetChanges"
            commandId="ru.taximaxim.codekeeper.ui.command.GetChanges">
            <enabledWhen>
                <and>
                    <with variable="activeEditorId">
                        <or>
                            <equals value="ru.taximaxim.codekeeper.ui.projectEditorDiffer">
                            </equals>
                            <equals value="ru.taximaxim.codekeeper.ui.SQLEditor">
                            </equals>
                        </or>
                    </with>
                    <with variable="activeEditor">
                        <not>
                            <test property="ru.taximaxim.codekeeper.ui.isGetChangesRunning">
                            </test>
                        </not>
                    </with>
                </and>
            </enabledWhen>
        </handler>
        <handler
            class="ru.taximaxim.codekeeper.ui.handlers.UpdateDdl"
            commandId="ru.taximaxim.codekeeper.ui.command.UpdateDdl">
            <enabledWhen>
                <and>
                    <with variable="activeEditorId">
                        <equals value="ru.taximaxim.codekeeper.ui.SQLEditor">
                        </equals>
                    </with>
                    <with variable="activeEditor">
                        <not>
                            <test property="ru.taximaxim.codekeeper.ui.isUpdateDdlRunning">
                            </test>
                        </not>
                    </with>
                </and>
            </enabledWhen>
        </handler>
        <handler
            class="ru.taximaxim.codekeeper.ui.handlers.QuickUpdate"
            commandId="ru.taximaxim.codekeeper.ui.command.QuickUpdate">
            <enabledWhen>
                <and>
                    <with variable="activeEditorId">
                        <equals value="ru.taximaxim.codekeeper.ui.SQLEditor">
                        </equals>
                    </with>
                    <with variable="activeEditor">
                        <not>
                            <test property="ru.taximaxim.codekeeper.ui.isQuickUpdateRunning">
                            </test>
                        </not>
                    </with>
                </and>
            </enabledWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.open">
            <menu
                label="%menu.label.showIn"
                commandId="org.eclipse.ui.navigate.showInQuickMenu"
                id="ru.taximaxim.codekeeper.showInMenu"
                mnemonic="%menu.mnemonic.showIn">
                <dynamic
                    class="org.eclipse.ui.ExtensionFactory:showInContribution"
                    id="ru.taximaxim.codekeeper.dynamicShowInMenu">
                </dynamic>
                <visibleWhen checkEnabled="false">
                    <iterate
                        operator="or"
                        ifEmpty="false">
                        <test
                            property="org.eclipse.core.resources.projectNature"
                            value="ru.taximaxim.codekeeper.ui.nature">
                        </test>
                        <with variable="activeWorkbenchWindow.activePerspective">
                            <equals value="ru.taximaxim.codekeeper.ui.mainperspective">
                            </equals>
                        </with>
                    </iterate>
                </visibleWhen>
            </menu>
        </menuContribution>
        <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu label="%menu.label.pgCodeKeeper">
                <command
                    commandId="ru.taximaxim.codekeeper.ui.openeditor"
                    icon="icons/app_icon16.png"
                    label="%command.label.openProjectEditor"
                    style="push">
                </command>
                <visibleWhen checkEnabled="false">
                    <with variable="activeMenuSelection">
                        <iterate
                            ifEmpty="false"
                            operator="and">
                            <test
                                property="org.eclipse.core.resources.projectNature"
                                value="ru.taximaxim.codekeeper.ui.nature">
                            </test>
                            <adapt type="org.eclipse.core.resources.IProject">
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.Diff"
                    icon="icons/compare_view.gif"
                    label="%handledmenuitem.label.Diff"
                    mnemonic="%command.mnemonic.Diff"
                    style="push">
                </command>
                <separator
                    name="ru.taximaxim.codekeeper.ui.separator1"
                    visible="true">
                </separator>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.normalizeProject"
                    label="%command.label.normalizeProject"
                    mnemonic="%command.mnemonic.normalizeProject"
                    style="push">
                </command>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.AddBuilder"
                    label="%command.label.addBuilder"
                    style="push">
                    <visibleWhen checkEnabled="false">
                        <and>
                            <count value="1">
                            </count>
                            <iterate
                                ifEmpty="false"
                                operator="and">
                                <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="ru.taximaxim.codekeeper.ui.nature">
                                </test>
                                <adapt type="org.eclipse.core.resources.IProject">
                                </adapt>
                            </iterate>
                            <iterate>
                                <not>
                                    <test property="ru.taximaxim.codekeeper.ui.builders.isEnabled">
                                    </test>
                                </not>
                            </iterate>
                        </and>
                    </visibleWhen>
                </command>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.RemoveBuilder"
                    label="%command.label.removeBuilder"
                    style="push">
                    <visibleWhen checkEnabled="false">
                        <and>
                            <count value="1">
                            </count>
                            <iterate
                                ifEmpty="false"
                                operator="and">
                                <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="ru.taximaxim.codekeeper.ui.nature">
                                </test>
                                <adapt type="org.eclipse.core.resources.IProject">
                                </adapt>
                            </iterate>
                            <iterate>
                                <test
                                    forcePluginActivation="true"
                                    property="ru.taximaxim.codekeeper.ui.builders.isEnabled">
                                </test>
                            </iterate>
                        </and>
                    </visibleWhen>
                </command>
            </menu>
        </menuContribution>
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
            <menu
                id="ru.taximaxim.codekeeper.ui.mainmenu.pgcodekeeper"
                label="%menu.label.pgcodekeeper.main"
                mnemonic="%menu.mnemonic.pgcodekeeper.main">
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.CommitProject"
                    icon="icons/app_icon16.png"
                    label="%command.commandname.CommitProject"
                    style="push">
                </command>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.DiffProject"
                    icon="icons/pgadmin/database.png"
                    label="%command.commandname.DiffProject"
                    style="push">
                </command>
                <separator
                    name="ru.taximaxim.codekeeper.ui.separator1"
                    visible="true">
                </separator>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.QuickUpdate"
                    icon="icons/quick_update.png"
                    label="%command.commandname.QuickUpdate"
                    style="push">
                </command>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.UpdateDdl"
                    icon="icons/update_ddl.gif"
                    label="%command.commandname.UpdateDdl"
                    style="push">
                </command>
                <separator
                    name="ru.taximaxim.codekeeper.ui.separator2"
                    visible="true">
                </separator>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.GetChanges"
                    icon="icons/refresh.png"
                    label="%command.commandname.GetChanges"
                    style="push">
                </command>
                <separator
                    name="ru.taximaxim.codekeeper.ui.separator3"
                    visible="true">
                </separator>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.Diff"
                    label="%command.label.diffWizard"
                    mnemonic="%command.mnemonic.diffWizard"
                    style="push">
                </command>
                <menu label="%command.label.improvePerformanceJdbc">
                    <dynamic
                        class="ru.taximaxim.codekeeper.ui.menuitems.JdbcPerfVersionsDynamic"
                        id="ru.taximaxim.codekeeper.ui.dynamicJdbcPerf">
                    </dynamic>
                </menu>
                <separator
                    name="ru.taximaxim.codekeeper.ui.separator4"
                    visible="true">
                </separator>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.feedBack"
                    label="%command.label.feedback"
                    mnemonic="%command.mnemonic.feedback"
                    style="push">
                </command>
                <visibleWhen checkEnabled="false">
                    <or>
                        <with variable="activeWorkbenchWindow.activePerspective">
                            <equals value="ru.taximaxim.codekeeper.ui.mainperspective">
                            </equals>
                        </with>
                        <with variable="activeEditorId">
                            <or>
                                <equals value="ru.taximaxim.codekeeper.ui.projectEditorDiffer">
                                </equals>
                                <equals value="ru.taximaxim.codekeeper.ui.SQLEditor">
                                </equals>
                                <equals value="ru.taximaxim.codekeeper.ui.RollOnEditor">
                                </equals>
                            </or>
                        </with>
                        <with variable="selection">
                            <iterate ifEmpty="false">
                                <adapt type="org.eclipse.core.resources.IResource">
                                    <test
                                        property="org.eclipse.core.resources.projectNature"
                                        value="ru.taximaxim.codekeeper.ui.nature">
                                    </test>
                                </adapt>
                            </iterate>
                        </with>
                    </or>
                </visibleWhen>
            </menu>
        </menuContribution>
        <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar id="ru.taximaxim.codekeeper.ui.toolbar">
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.CommitProject"
                    icon="icons/app_icon16.png"
                    label="%command.commandname.CommitProject"
                    mode="FORCE_TEXT"
                    style="push">
                    <visibleWhen checkEnabled="true">
                        <with variable="activeEditorId">
                            <equals value="ru.taximaxim.codekeeper.ui.projectEditorDiffer">
                            </equals>
                        </with>
                    </visibleWhen>
                </command>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.DiffProject"
                    icon="icons/pgadmin/database.png"
                    label="%command.commandname.DiffProject"
                    mode="FORCE_TEXT"
                    style="push">
                    <visibleWhen checkEnabled="true">
                        <with variable="activeEditorId">
                            <equals value="ru.taximaxim.codekeeper.ui.projectEditorDiffer">
                            </equals>
                        </with>
                    </visibleWhen>
                </command>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.QuickUpdate"
                    icon="icons/quick_update.png"
                    label="%command.commandname.QuickUpdate"
                    mode="FORCE_TEXT"
                    style="push">
                    <visibleWhen checkEnabled="true">
                        <with variable="activeEditorId">
                            <equals value="ru.taximaxim.codekeeper.ui.SQLEditor">
                            </equals>
                        </with>
                    </visibleWhen>
                </command>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.UpdateDdl"
                    icon="icons/update_ddl.gif"
                    label="%command.commandname.UpdateDdl"
                    mode="FORCE_TEXT"
                    style="push">
                    <visibleWhen checkEnabled="true">
                        <with variable="activeEditorId">
                            <equals value="ru.taximaxim.codekeeper.ui.SQLEditor">
                            </equals>
                        </with>
                    </visibleWhen>
                </command>
                <command
                    commandId="ru.taximaxim.codekeeper.ui.command.GetChanges"
                    icon="icons/refresh.png"
                    label="%command.commandname.GetChanges"
                    mode="FORCE_TEXT"
                    style="push">
                    <visibleWhen>
                        <with variable="activeEditorId">
                            <or>
                                <equals value="ru.taximaxim.codekeeper.ui.projectEditorDiffer">
                                </equals>
                                <equals value="ru.taximaxim.codekeeper.ui.SQLEditor">
                                </equals>
                            </or>
                        </with>
                    </visibleWhen>
                </command>
                <control
                    class="ru.taximaxim.codekeeper.ui.menuitems.DBStoreCombo"
                    id="ru.taximaxim.codekeeper.ui.DBStoreCombo">
                    <visibleWhen checkEnabled="true">
                        <or>
                            <with variable="activeEditorId">
                                <equals value="ru.taximaxim.codekeeper.ui.projectEditorDiffer">
                                </equals>
                            </with>
                            <with variable="activeEditorId">
                                <equals value="ru.taximaxim.codekeeper.ui.SQLEditor">
                                </equals>
                            </with>
                        </or>
                    </visibleWhen>
                </control>
            </toolbar>
        </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.editors">
        <editor
            class="ru.taximaxim.codekeeper.ui.editors.ProjectEditorDiffer"
            default="false"
            icon="icons/app_icon16.png"
            id="ru.taximaxim.codekeeper.ui.projectEditorDiffer"
            name="%editor.name.keeperProjectEditor">
        </editor>
        <editor
            class="ru.taximaxim.codekeeper.ui.sqledit.SQLEditor"
            contributorClass="ru.taximaxim.codekeeper.ui.sqledit.SQLEditorActionContributor"
            default="false"
            filenames="*.sql"
            id="ru.taximaxim.codekeeper.ui.SQLEditor"
            name="%editor.name.sqlEditor"
            icon="IMG_OBJ_FILE">
        </editor>
    </extension>
    <extension point="org.eclipse.ui.preferencePages">
        <page
            class="ru.taximaxim.codekeeper.ui.prefs.GeneralPrefPage"
            id="ru.taximaxim.codekeeper.ui.general"
            name="%page.name.keeperPrefPage">
        </page>
        <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.DbStorePrefPage"
            id="ru.taximaxim.codekeeper.ui.dbstore"
            name="%page.name.dbstore">
        </page>
        <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.ignoredobjects.IgnoredObjectsPrefPage"
            id="ru.taximaxim.codekeeper.ui.ignoredobjects"
            name="%page.name.ignored_objects">
        </page>
        <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.CommitPrefPage"
            id="ru.taximaxim.codekeeper.ui.commitprefpage"
            name="%page.name.commit_pref_page">
        </page>
        <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.DbUpdatePrefPage"
            id="ru.taximaxim.codekeeper.ui.dbupdateprefpage"
            name="%page.name.db_update_pref_page">
        </page>
        <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.SQLEditorMainPage"
            id="ru.taximaxim.codekeeper.ui.sqleditor"
            name="%page.name.sqlEditor">
        </page>
        <page
            category="ru.taximaxim.codekeeper.ui.sqleditor"
            class="ru.taximaxim.codekeeper.ui.prefs.SQLEditorSytaxColoring"
            id="ru.taximaxim.codekeeper.ui.sqlsyntaxcoloring"
            name="%page.name.sqlEditorColors">
        </page>
        <page
            category="ru.taximaxim.codekeeper.ui.sqleditor"
            class="ru.taximaxim.codekeeper.ui.prefs.SQLEditorTemplatePrefPage"
            id="ru.taximaxim.codekeeper.ui.sqleditortemplates"
            name="%page.name.sqlEditorTemplates">
        </page>
        <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.ProjectEditorPrefPage"
            id="ru.taximaxim.codekeeper.ui.pgProjectEditor"
            name="%page.name.pgProjectEditor">
        </page>
        <page
              category="ru.taximaxim.codekeeper.ui.general"
              class="ru.taximaxim.codekeeper.ui.prefs.UsageReportPreferencePage"
              id="ru.taximaxim.codekeeper.ui.usageReport"
              name="%page.name.usageReport">
        </page>
    </extension>
    <extension point="org.eclipse.ui.importWizards">
        <category
            id="ru.taximaxim.codekeeper.ui.pgcodekeepercategory"
            name="%category.name.keeperImportWizard">
        </category>
        <wizard
            category="ru.taximaxim.codekeeper.ui.pgcodekeepercategory"
            class="ru.taximaxim.codekeeper.ui.pgdbproject.ImportProjWizard"
            icon="icons/app_icon16.png"
            id="ru.taximaxim.codekeeper.ui.importprojwizard"
            name="%wizard.name.keeperImportWizard">
        </wizard>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
        <wizard
            category="ru.taximaxim.codekeeper.ui.pgcodekeepercategory"
            class="ru.taximaxim.codekeeper.ui.pgdbproject.NewProjWizard"
            icon="icons/app_icon16.png"
            id="ru.taximaxim.codekeeper.ui.newprojwizard"
            name="%wizard.name.keeperNewWizard"
            project="true">
        </wizard>
        <wizard
              category="ru.taximaxim.codekeeper.ui.pgcodekeepercategory"
              class="ru.taximaxim.codekeeper.ui.pgdbproject.NewObjectWizard"
              icon="icons/pgadmin/database.png"
              id="ru.taximaxim.codekeeper.ui.newobjwizard"
              name="%wizard.name.newPgSqlObject"
              project="true">
        </wizard>
        <category
            id="ru.taximaxim.codekeeper.ui.pgcodekeepercategory"
            name="%category.name.keeperNewWizard">
        </category>
        <wizard
            category="ru.taximaxim.codekeeper.ui.pgcodekeepercategory"
            class="ru.taximaxim.codekeeper.ui.pgdbproject.MockDataWizard"
            icon="icons/editor_area.png"
            id="ru.taximaxim.codekeeper.ui.mockdatawizard"
            name="%wizard.name.mockDataWizard"
            project="false">
            <selection class="org.eclipse.core.resources.IFile" />
        </wizard>
    </extension>
    <extension
        id="ru.taximaxim.codekeeper.ui.nature"
        point="org.eclipse.core.resources.natures">
        <runtime>
            <run class="ru.taximaxim.codekeeper.ui.natures.ProjectNature">
            </run>
        </runtime>
        <builder id="ru.taximaxim.codekeeper.ui.builder">
        </builder>
    </extension>
    <extension point="org.eclipse.ui.ide.projectNatureImages">
        <image
            icon="icons/nature_decorator.png"
            id="ru.taximaxim.codekeeper.ui.natureImage"
            natureId="ru.taximaxim.codekeeper.ui.nature">
        </image>
    </extension>
    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="ru.taximaxim.codekeeper.ui.prefs.PreferenceInitializer">
        </initializer>
    </extension>
    <extension point="org.eclipse.ui.propertyPages">
        <page
            class="ru.taximaxim.codekeeper.ui.properties.ProjectProperties"
            id="ru.taximaxim.codekeeper.ui.proj_properties"
            name="%page.name.keeperPropPage">
            <enabledWhen>
                <and>
                    <instanceof value="org.eclipse.core.resources.IProject">
                    </instanceof>
                    <adapt type="org.eclipse.core.resources.IProject">
                    </adapt>
                    <test
                        property="org.eclipse.core.resources.projectNature"
                        value="ru.taximaxim.codekeeper.ui.nature">
                    </test>
                </and>
            </enabledWhen>
        </page>
    </extension>
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
        <hyperlinkDetector
            activate="true"
            class="ru.taximaxim.codekeeper.ui.sqledit.SQLEditorHyperLinkDetector"
            id="ru.taximaxim.codekeeper.ui.pgcodekeeperhyperlinkDetector"
            name="pgCodeKeeper SQL HyperLink Detector"
            targetId="ru.taximaxim.codekeeper.ui.SQLEditorTarget">
        </hyperlinkDetector>
    </extension>
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
        <target
            id="ru.taximaxim.codekeeper.ui.SQLEditorTarget"
            name="SQL Editor Target">
            <context type="ru.taximaxim.codekeeper.ui.sqledit.SQLEditor">
            </context>
        </target>
    </extension>
    <extension point="org.eclipse.ui.views">
        <view
            id="ru.taximaxim.codekeeper.ui.depcyview"
            name="%view.name.DepcyView"
            class="ru.taximaxim.codekeeper.ui.views.DepcyGraphView"
            icon="IMG_OBJ_ADD" />
    </extension>
    <extension point="org.eclipse.ui.perspectives">
        <perspective
            class="ru.taximaxim.codekeeper.ui.MainPerspective"
            icon="icons/app_icon16.png"
            id="ru.taximaxim.codekeeper.ui.mainperspective"
            name="%perspective.name.keeper">
        </perspective>
    </extension>
    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="ru.taximaxim.codekeeper.ui.mainperspective">
            <viewShortcut id="ru.taximaxim.codekeeper.ui.depcyview">
            </viewShortcut>
            <viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer">
            </viewShortcut>
            <viewShortcut id="org.eclipse.ui.console.ConsoleView">
            </viewShortcut>
            <viewShortcut id="org.eclipse.pde.runtime.LogView">
            </viewShortcut>
            <viewShortcut id="org.eclipse.ui.views.ContentOutline">
            </viewShortcut>
            <viewShortcut id="org.eclipse.ui.views.ProgressView">
            </viewShortcut>
            <viewShortcut id="org.eclipse.ui.views.ProblemView">
            </viewShortcut>
            <newWizardShortcut id="ru.taximaxim.codekeeper.ui.newprojwizard">
            </newWizardShortcut>
             <newWizardShortcut id="ru.taximaxim.codekeeper.ui.newobjwizard">
            </newWizardShortcut>
            <newWizardShortcut id="ru.taximaxim.codekeeper.ui.mockdatawizard">
            </newWizardShortcut>
            <perspectiveShortcut id="org.eclipse.egit.ui.GitRepositoryExploring">
            </perspectiveShortcut>
            <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective">
            </perspectiveShortcut>
            <perspectiveShortcut id="org.eclipse.ui.resourcePerspective">
            </perspectiveShortcut>
            <perspectiveShortcut id="org.eclipse.team.ui.TeamSynchronizingPerspective">
            </perspectiveShortcut>
            <view
                id="org.eclipse.ui.navigator.ProjectExplorer"
                minimized="false"
                ratio="0.25"
                relationship="left"
                relative="org.eclipse.ui.editorss">
            </view>
            <view
                id="ru.taximaxim.codekeeper.ui.depcyview"
                minimized="false"
                ratio="0.5"
                relationship="bottom"
                relative="org.eclipse.ui.navigator.ProjectExplorer">
            </view>
            <view
                id="org.eclipse.ui.views.ContentOutline"
                minimized="false"
                relationship="stack"
                relative="ru.taximaxim.codekeeper.ui.depcyview">
            </view>
            <view
                id="org.eclipse.ui.console.ConsoleView"
                minimized="false"
                ratio="0.85"
                relationship="bottom"
                relative="org.eclipse.ui.editorss">
            </view>
            <view
                id="org.eclipse.ui.views.ProgressView"
                minimized="false"
                relationship="stack"
                relative="org.eclipse.ui.console.ConsoleView">
            </view>
            <showInPart id="org.eclipse.ui.navigator.ProjectExplorer">
            </showInPart>
        </perspectiveExtension>
    </extension>
    <extension
        id="ru.taximaxim.codekeeper.ui.builder"
        name="%builder.name"
        point="org.eclipse.core.resources.builders">
        <builder>
            <run class="ru.taximaxim.codekeeper.ui.builders.ProjectBuilder">
            </run>
        </builder>
    </extension>
    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
            class="ru.taximaxim.codekeeper.ui.builders.BuilderTester"
            id="ru.taximaxim.codekeeper.ui.BuilderTester"
            namespace="ru.taximaxim.codekeeper.ui.builders"
            properties="isEnabled"
            type="org.eclipse.core.resources.IProject">
        </propertyTester>
        <propertyTester
            class="ru.taximaxim.codekeeper.ui.propertytests.ChangesJobTester"
            id="ru.taximaxim.codekeeper.ui.ChangesJobTester"
            namespace="ru.taximaxim.codekeeper.ui"
            properties="isGetChangesRunning"
            type="org.eclipse.ui.IEditorPart">
        </propertyTester>
        <propertyTester
            class="ru.taximaxim.codekeeper.ui.propertytests.UpdateDdlJobTester"
            id="ru.taximaxim.codekeeper.ui.UpdateDdlJobTester"
            namespace="ru.taximaxim.codekeeper.ui"
            properties="isUpdateDdlRunning"
            type="ru.taximaxim.codekeeper.ui.sqledit.SQLEditor">
        </propertyTester>
        <propertyTester
            class="ru.taximaxim.codekeeper.ui.propertytests.QuickUpdateJobTester"
            id="ru.taximaxim.codekeeper.ui.QuickUpdateJobTester"
            namespace="ru.taximaxim.codekeeper.ui"
            properties="isQuickUpdateRunning"
            type="ru.taximaxim.codekeeper.ui.sqledit.SQLEditor">
        </propertyTester>
    </extension>
    <extension
        id="ru.taximaxim.codekeeper.ui.editorTemplates"
        name="%templates.name.sqlEditor"
        point="org.eclipse.ui.editors.templates">
        <contextType
            class="ru.taximaxim.codekeeper.ui.sqledit.SQLEditorTemplateContextType"
            id="ru.taximaxim.codekeeper.ui.sqlEditorContextType"
            name="SQLEditor Context Type">
        </contextType>
        <include
            file="sql_templates/templates.xml"
            translations="sql_templates/sqlTemplate.properties">
        </include>
    </extension>
    <extension point="org.eclipse.ui.elementFactories">
        <factory
            class="ru.taximaxim.codekeeper.ui.editors.ProjectEditorInputFactory"
            id="ru.taximaxim.codekeeper.ui.editors.ProjectEditorInputFactory">
        </factory>
    </extension>
    <extension point="org.eclipse.ui.navigator.linkHelper">
        <linkHelper
            class="ru.taximaxim.codekeeper.ui.editors.CodekeeperLinkHelper"
            id="ru.taximaxim.codekeeper.ui.editors.codekeeperlinkHelper">
            <editorInputEnablement>
                <instanceof value="ru.taximaxim.codekeeper.ui.editors.ProjectEditorInput">
                </instanceof>
            </editorInputEnablement>
            <selectionEnablement>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test
                        property="org.eclipse.core.resources.projectNature"
                        value="ru.taximaxim.codekeeper.ui.nature">
                    </test>
                </adapt>
            </selectionEnablement>
        </linkHelper>
    </extension>
    <extension point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
                <contentExtension pattern="ru\.taximaxim\.codekeeper\.ui\.editors\.codekeeperlinkHelper">
                </contentExtension>
                <contentExtension pattern="ru\.taximaxim\.codekeeper\.ui\.navigator\.codekeeperRoot">
                </contentExtension>
                <contentExtension pattern="ru\.taximaxim\.codekeeper\.ui\.views\.navigator\.codekeeperOutline">
                </contentExtension>
            </includes>
        </viewerContentBinding>
        <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
                <actionExtension pattern="ru\.taximaxim\.codekeeper\.ui\.views\.navigator\.codekeeperOutlineActionProvider">
                </actionExtension>
                <actionExtension pattern="ru\.taximaxim\.codekeeper\.ui\.navigator\.codekeeperRootActionProvider">
                </actionExtension>
            </includes>
        </viewerActionBinding>
        <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
            </includes>
        </viewerActionBinding>
    </extension>
    <extension point="org.eclipse.ui.console.consolePageParticipants">
        <consolePageParticipant
            class="ru.taximaxim.codekeeper.ui.consoles.ShowConsoleParticipant"
            id="ru.taximaxim.codekeeper.ui.consoles.ForceShowConsole">
            <enablement>
                <instanceof value="ru.taximaxim.codekeeper.ui.consoles.CodekeeperConsole">
                </instanceof>
            </enablement>
        </consolePageParticipant>
    </extension>
    <!--extension point="org.eclipse.ui.bindings">
        <key
            commandId="ru.taximaxim.codekeeper.ui.openeditor"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+G">
        </key>
    </extension-->
    <extension
        id="ru.taximaxim.codekeeper.ui.sql.errormarker"
        name="%marker.sql.error.name"
        point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.core.resources.problemmarker">
        </super>
        <super type="org.eclipse.core.resources.textmarker">
        </super>
        <persistent value="true">
        </persistent>
    </extension>
    <extension
        id="navigator-content"
        point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
            id="ru.taximaxim.codekeeper.ui.views.navigator.codekeeperOutline"
            name="%navigator.outline.content"
            contentProvider="ru.taximaxim.codekeeper.ui.views.navigator.NavigatorOutlineContentProvider"
            labelProvider="ru.taximaxim.codekeeper.ui.views.navigator.NavigatorOutlineLabelProvider"
            activeByDefault="true"
            icon="icons/app_icon16.png"
            priority="normal">
            <triggerPoints>
                <adapt type="org.eclipse.core.resources.IFile">
                    <test
                        property="org.eclipse.core.resources.extension"
                        value="sql">
                    </test>
                    <test
                        property="org.eclipse.core.resources.projectNature"
                        value="ru.taximaxim.codekeeper.ui.nature">
                    </test>
                </adapt>
            </triggerPoints>
            <commonSorter class="ru.taximaxim.codekeeper.ui.views.navigator.NavigatorOutlineSorter">
            </commonSorter>
        </navigatorContent>
        <actionProvider
            class="ru.taximaxim.codekeeper.ui.views.navigator.NavigatorOutlineActionProvider"
            id="ru.taximaxim.codekeeper.ui.views.navigator.codekeeperOutlineActionProvider">
            <enablement>
                <instanceof value="ru.taximaxim.codekeeper.ui.sqledit.SegmentsWithParent">
                </instanceof>
            </enablement>
        </actionProvider>
        <navigatorContent
            activeByDefault="true"
            contentProvider="ru.taximaxim.codekeeper.ui.views.navigator.NavigatorRootContentProvider"
            icon="icons/app_icon16.png"
            id="ru.taximaxim.codekeeper.ui.navigator.codekeeperRoot"
            labelProvider="ru.taximaxim.codekeeper.ui.views.navigator.NavigatorRootLabelProvider"
            name="%navigator.root.content"
            priority="highest">
            <triggerPoints>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test
                        property="org.eclipse.core.resources.projectNature"
                        value="ru.taximaxim.codekeeper.ui.nature">
                    </test>
                </adapt>
            </triggerPoints>
        </navigatorContent>
        <actionProvider
            class="ru.taximaxim.codekeeper.ui.views.navigator.NavigatorRootActionProvider"
            id="ru.taximaxim.codekeeper.ui.navigator.codekeeperRootActionProvider">
            <enablement>
                <instanceof value="ru.taximaxim.codekeeper.ui.views.navigator.OpenProjectFromNavigator">
                </instanceof>
            </enablement>
        </actionProvider>
        <commonWizard
            type="new"
            wizardId="ru.taximaxim.codekeeper.ui.newprojwizard">
            <enablement>
                <with variable="activeWorkbenchWindow.activePerspective">
                    <equals value="ru.taximaxim.codekeeper.ui.mainperspective">
                    </equals>
                </with>
            </enablement>
        </commonWizard>
        <commonWizard
              type="new"
              wizardId="ru.taximaxim.codekeeper.ui.newobjwizard">
           <enablement>
              <with
                    variable="activeWorkbenchWindow.activePerspective">
                 <equals
                       value="ru.taximaxim.codekeeper.ui.mainperspective">
                 </equals>
              </with>
           </enablement>
        </commonWizard>
        <commonWizard
            type="new"
            wizardId="ru.taximaxim.codekeeper.ui.mockdatawizard">
            <enablement>
                <with variable="activeWorkbenchWindow.activePerspective">
                    <equals value="ru.taximaxim.codekeeper.ui.mainperspective">
                    </equals>
                </with>
            </enablement>
        </commonWizard>
    </extension>
    <extension point="org.eclipse.ui.decorators">
        <decorator
            class="ru.taximaxim.codekeeper.ui.views.navigator.PgDecorator"
            icon="icons/app_icon16.png"
            id="ru.taximaxim.codekeeper.ui.decorator"
            label="%decorator.sql.error.label"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
            <enablement>
                <or>
                    <objectClass name="ru.taximaxim.codekeeper.ui.sqledit.SegmentsWithParent">
                    </objectClass>
                    <objectClass name="org.eclipse.core.resources.IResource">
                    </objectClass>
                </or>
            </enablement>
        </decorator>
    </extension>
    <extension point="org.eclipse.ui.editors.annotationTypes">
        <type
            markerSeverity="1"
            super="org.eclipse.ui.workbench.texteditor.warning"
            name="ru.taximaxim.codekeeper.ui.sql.dangerannotation" />
    </extension>
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
            annotationType="ru.taximaxim.codekeeper.ui.sql.dangerannotation"
            colorPreferenceKey="clcolor"
            colorPreferenceValue="255, 146, 130"
            contributesToHeader="true"
            highlightPreferenceKey="clhighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="%annotation.specification.label"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            symbolicIcon="warning"
            textPreferenceKey="cltext"
            textPreferenceValue="false"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true" />
    </extension>
    <extension point="org.eclipse.ui.editors.markerUpdaters">
        <updater
            id="ru.taximaxim.codekeeper.ui.sqledit.marker.sqlmarkerupdate"
            class="ru.taximaxim.codekeeper.ui.sqledit.marker.SQLMarkerUpdate"
            markerType="ru.taximaxim.codekeeper.ui.sql.errormarker">
        </updater>
    </extension>
    <extension point="org.eclipse.ui.intro.configExtension">
        <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/pgcodekeeper_intro.xml">
        </configExtension>
    </extension>
    <extension
        point="org.eclipse.ui.bindings"
        id="ru.taximaxim.codekeeper.ui.bindings"
        name="ru.taximaxim.codekeeper.ui.bindings.hotKey">
        <key
            commandId="ru.taximaxim.codekeeper.ui.command.GetChanges"
            contextId="ru.taximaxim.codekeeper.ui.pgCodeKeeper"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F5">
        </key>
        <key
            commandId="ru.taximaxim.codekeeper.ui.command.GetChanges"
            contextId="ru.taximaxim.codekeeper.ui.pgCodeKeeperEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F5">
        </key>
        <key
            commandId="ru.taximaxim.codekeeper.ui.command.CommitProject"
            contextId="ru.taximaxim.codekeeper.ui.pgCodeKeeper"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+S">
        </key>
        <key
            commandId="ru.taximaxim.codekeeper.ui.command.DiffProject"
            contextId="ru.taximaxim.codekeeper.ui.pgCodeKeeper"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+D">
        </key>
        <key
            commandId="ru.taximaxim.codekeeper.ui.command.QuickUpdate"
            contextId="ru.taximaxim.codekeeper.ui.pgCodeKeeperEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+A">
        </key>
        <key
            commandId="ru.taximaxim.codekeeper.ui.command.UpdateDdl"
            contextId="ru.taximaxim.codekeeper.ui.pgCodeKeeperEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+R">
        </key>
    </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="ru.taximaxim.codekeeper.ui.reports.UsageReportDispatcher">
       </startup>
    </extension>
</plugin>
