<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="ru.taximaxim.codekeeper.ui.consoles.ConsoleFactory"
            icon="icons/app_icon16.png"
            label="%consoleFactory.label.keeperConsole">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="ru.taximaxim.codekeeper.ui.pgCodeKeeper"
            name="%context.name.keeperContext"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            name="%category.name.keeperCategory">
      </category>
      <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.Diff"
            id="ru.taximaxim.codekeeper.ui.command.Diff"
            name="%command.commandname.Diff">
      </command>
      <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.OpenEditor"
            id="ru.taximaxim.codekeeper.ui.openeditor"
            name="%command.name.openProjectEditor">
      </command>
      <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.ToggleSourceHandler"
            id="ru.taximaxim.codekeeper.ui.toggleDepcySrc"
            name="%command.name.SourceDepcies">
            <state class="org.eclipse.jface.commands.ToggleState"
                            id="ru.taximaxim.codekeeper.ui.toggleDepcySrcstate"/>
      </command>
      <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.ToggleSourceHandler"
            id="ru.taximaxim.codekeeper.ui.toggleDepcyTgt"
            name="%command.name.TargetDepcies">
            <state class="org.eclipse.jface.commands.ToggleState"
                            id="ru.taximaxim.codekeeper.ui.toggleDepcyTgtstate"/>
      </command>
      <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.NormalizeProject"
            id="ru.taximaxim.codekeeper.ui.command.normalizeProject"
            name="%command.name.normalizeProject">
      </command>
      <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.AddBuilder"
            id="ru.taximaxim.codekeeper.ui.command.AddBuilder"
            name="%command.name.addBuilder">
      </command>
      <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.RemoveBuilder"
            id="ru.taximaxim.codekeeper.ui.command.RemoveBuilder"
            name="%command.name.removeBuilder">
      </command>
      <command
            categoryId="ru.taximaxim.codekeeper.ui.categoryPgCodeKeeper"
            defaultHandler="ru.taximaxim.codekeeper.ui.handlers.ImprovePerformanceJdbcLoader"
            id="ru.taximaxim.codekeeper.ui.command.ImprovePerformanceJdbc"
            name="%command.name.improvePerformanceJdbc">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="%menu.label.pgCodeKeeper">
            <command
                  commandId="ru.taximaxim.codekeeper.ui.openeditor"
                  icon="icons/app_icon16.png"
                  label="%command.label.openProjectEditor"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="ru.taximaxim.codekeeper.ui.nature">
                     </test>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <command
                  commandId="ru.taximaxim.codekeeper.ui.command.Diff"
                  icon="icons/compare_view.gif"
                  label="%handledmenuitem.label.Diff"
                  mnemonic="%command.mnemonic.Diff"
                  style="push">
            </command>
            <separator
                  name="ru.taximaxim.codekeeper.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="ru.taximaxim.codekeeper.ui.command.normalizeProject"
                  label="%command.label.normalizeProject"
                  mnemonic="%command.mnemonic.normalizeProject"
                  style="push">
            </command>
            <command
                  commandId="ru.taximaxim.codekeeper.ui.command.AddBuilder"
                  label="%command.label.addBuilder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <test
                           property="org.eclipse.core.resources.projectNature"
                           value="ru.taximaxim.codekeeper.ui.nature">
                     </test>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     </iterate>
                     <iterate>
                        <not>
                           <test
                                 forcePluginActivation="true"
                                 property="ru.taximaxim.codekeeper.ui.builders.isEnabled">
                           </test>
                        </not>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="ru.taximaxim.codekeeper.ui.command.RemoveBuilder"
                  label="%command.label.removeBuilder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                            <test 
                            property="org.eclipse.core.resources.projectNature"
                           value="ru.taximaxim.codekeeper.ui.nature">
                     </test>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     </iterate>
                     <iterate>
                        <test
                              forcePluginActivation="true"
                              property="ru.taximaxim.codekeeper.ui.builders.isEnabled">
                        </test>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="ru.taximaxim.codekeeper.ui.command.ImprovePerformanceJdbc"
                  label="%command.label.improvePerformanceJdbc"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ru.taximaxim.codekeeper.ui.depcyview">
         <command
               commandId="ru.taximaxim.codekeeper.ui.toggleDepcySrc"
               icon="icons/ball_blue.png"
               label="%command.label.SourceDepcies"
               mode="FORCE_TEXT"
               style="toggle">
         </command>
         <command
               commandId="ru.taximaxim.codekeeper.ui.toggleDepcyTgt"
               icon="icons/ball_green.png"
               label="%command.label.TargetDepcies"
               mode="FORCE_TEXT"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.taximaxim.codekeeper.ui.editors.ProjectEditorDiffer"
            default="false"
            icon="icons/app_icon16.png"
            id="ru.taximaxim.codekeeper.ui.projectEditorDiffer"
            name="%editor.name.keeperProjectEditor">
      </editor>
      <editor
            class="ru.taximaxim.codekeeper.ui.sqledit.SQLEditor"
            contributorClass="ru.taximaxim.codekeeper.ui.sqledit.SQLEditorActionContributor"
            default="false"
            filenames="*.sql"
            id="ru.taximaxim.codekeeper.ui.SQLEditor"
            name="%editor.name.sqlEditor">
      </editor>
      <editor
            class="ru.taximaxim.codekeeper.ui.sqledit.RollOnEditor"
            default="false"
            filenames="*.sql"
            id="ru.taximaxim.codekeeper.ui.RollOnEditor"
            name="%editor.name.ddlUpdateEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ru.taximaxim.codekeeper.ui.prefs.GeneralPrefPage"
            id="ru.taximaxim.codekeeper.ui.general"
            name="%page.name.keeperPrefPage">
      </page>
      <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.LicensePrefs"
            id="ru.taximaxim.codekeeper.ui.license"
            name="%page.name.license">
      </page>
      <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.DbStorePrefPage"
            id="ru.taximaxim.codekeeper.ui.dbstore"
            name="%page.name.dbstore">
      </page>
      <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.ignoredobjects.IgnoredObjectsPrefPage"
            id="ru.taximaxim.codekeeper.ui.ignoredobjects"
            name="%page.name.ignored_objects">
      </page>
      <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.CommitPrefPage"
            id="ru.taximaxim.codekeeper.ui.commitprefpage"
            name="%page.name.commit_pref_page">
      </page>
      <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.DbUpdatePrefPage"
            id="ru.taximaxim.codekeeper.ui.dbupdateprefpage"
            name="%page.name.db_update_pref_page">
      </page>
      <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.SQLEditorMainPage"
            id="ru.taximaxim.codekeeper.ui.sqleditor"
            name="%page.name.sqlEditor">
      </page>
      <page
            category="ru.taximaxim.codekeeper.ui.sqleditor"
            class="ru.taximaxim.codekeeper.ui.prefs.SQLEditorSytaxColoring"
            id="ru.taximaxim.codekeeper.ui.sqlsyntaxcoloring"
            name="%page.name.sqlEditorColors">
      </page>
      <page
            category="ru.taximaxim.codekeeper.ui.sqleditor"
            class="ru.taximaxim.codekeeper.ui.prefs.SQLEditorTemplatePrefPage"
            id="ru.taximaxim.codekeeper.ui.sqleditortemplates"
            name="%page.name.sqlEditorTemplates">
      </page>
      <page
            category="ru.taximaxim.codekeeper.ui.general"
            class="ru.taximaxim.codekeeper.ui.prefs.ProjectEditorPrefPage"
            id="ru.taximaxim.codekeeper.ui.pgProjectEditor"
            name="%page.name.pgProjectEditor">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="ru.taximaxim.codekeeper.ui.pgcodekeepercategory"
            class="ru.taximaxim.codekeeper.ui.pgdbproject.NewProjWizard"
            icon="icons/app_icon16.png"
            id="ru.taximaxim.codekeeper.ui.newprojwizard"
            name="%wizard.name.keeperNewWizard"
            project="true">
      </wizard>
      <category
            id="ru.taximaxim.codekeeper.ui.pgcodekeepercategory"
            name="%category.name.keeperNewWizard">
      </category>
   </extension>
   <extension
         id="ru.taximaxim.codekeeper.ui.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ru.taximaxim.codekeeper.ui.natures.ProjectNature">
         </run>
      </runtime>
      <builder
            id="ru.taximaxim.codekeeper.ui.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ru.taximaxim.codekeeper.ui.prefs.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ru.taximaxim.codekeeper.ui.properties.ProjectProperties"
            id="ru.taximaxim.codekeeper.ui.proj_properties"
            name="%page.name.keeperPropPage">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="ru.taximaxim.codekeeper.ui.nature">
               </test>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="ru.taximaxim.codekeeper.ui.sqledit.SQLEditorHyperLinkDetector"
            id="ru.taximaxim.codekeeper.ui.pgcodekeeperhyperlinkDetector"
            name="pgCodeKeeper SQL HyperLink Detector"
            targetId="ru.taximaxim.codekeeper.ui.SQLEditorTarget">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="ru.taximaxim.codekeeper.ui.SQLEditorTarget"
            name="SQL Editor Target">
      </target>
   </extension>
    <extension point="org.eclipse.ui.views">
      <view id="ru.taximaxim.codekeeper.ui.depcyview"
         name="%view.name.DepcyView"
         class="ru.taximaxim.codekeeper.ui.views.DepcyGraphView"
         icon="icons/add_obj.gif"
      />
 </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="ru.taximaxim.codekeeper.ui.MainPerspective"
             icon="icons/app_icon16.png"
             id="ru.taximaxim.codekeeper.ui.mainperspective"
             name="%perspective.name.keeper">
       </perspective>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="ru.taximaxim.codekeeper.ui.mainperspective">
          <viewShortcut
                id="ru.taximaxim.codekeeper.ui.depcyview">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.ui.navigator.ProjectExplorer">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.ui.console.ConsoleView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.pde.runtime.LogView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.ui.views.ContentOutline">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.ui.views.ProgressView">
          </viewShortcut>
          <viewShortcut
                id="org.eclipse.ui.views.ProblemView">
          </viewShortcut>
          <newWizardShortcut
                id="ru.taximaxim.codekeeper.ui.newprojwizard">
          </newWizardShortcut>
          <perspectiveShortcut
                id="org.eclipse.egit.ui.GitRepositoryExploring">
          </perspectiveShortcut>
          <perspectiveShortcut
                id="org.eclipse.jdt.ui.JavaPerspective">
          </perspectiveShortcut>
          <perspectiveShortcut
                id="org.eclipse.ui.resourcePerspective">
          </perspectiveShortcut>
          <perspectiveShortcut
                id="org.eclipse.team.ui.TeamSynchronizingPerspective">
          </perspectiveShortcut>
          <view
                id="org.eclipse.ui.navigator.ProjectExplorer"
                minimized="false"
                ratio="0.25"
                relationship="left"
                relative="org.eclipse.ui.editorss">
          </view>
          <view
                id="ru.taximaxim.codekeeper.ui.depcyview"
                minimized="false"
                ratio="0.5"
                relationship="bottom"
                relative="org.eclipse.ui.navigator.ProjectExplorer">
          </view>
          <view
                id="org.eclipse.ui.views.ContentOutline"
                minimized="false"
                relationship="stack"
                relative="ru.taximaxim.codekeeper.ui.depcyview">
          </view>
          <view
                id="org.eclipse.ui.console.ConsoleView"
                minimized="false"
                ratio="0.85"
                relationship="bottom"
                relative="org.eclipse.ui.editorss">
          </view>
          <view
                id="org.eclipse.ui.views.ProgressView"
                minimized="false"
                relationship="stack"
                relative="org.eclipse.ui.console.ConsoleView">
          </view>
       </perspectiveExtension>
    </extension>
    <extension
          id="ru.taximaxim.codekeeper.ui.builder"
          name="%builder.name"
          point="org.eclipse.core.resources.builders">
       <builder>
          <run
                class="ru.taximaxim.codekeeper.ui.builders.ProjectBuilder">
          </run>
       </builder>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="ru.taximaxim.codekeeper.ui.builders.BuilderTester"
             id="ru.taximaxim.codekeeper.ui.BuilderTester"
             namespace="ru.taximaxim.codekeeper.ui.builders"
             properties="isEnabled"
             type="java.lang.Object">
       </propertyTester>
    </extension>
    <extension
          id="ru.taximaxim.codekeeper.ui.editorTemplates"
          name="%templates.name.sqlEditor"
          point="org.eclipse.ui.editors.templates">
       <contextType
             class="ru.taximaxim.codekeeper.ui.sqledit.SQLEditorTemplateContextType"
             id="ru.taximaxim.codekeeper.ui.sqlEditorContextType"
             name="SQLEditor Context Type">
       </contextType>
       <include
             file="sql_templates/templates.xml"
             translations="sql_templates/sqlTemplate.properties">
       </include>
    </extension>
    <extension
          point="org.eclipse.ui.elementFactories">
       <factory
             class="ru.taximaxim.codekeeper.ui.editors.ProjectEditorInputFactory"
             id="ru.taximaxim.codekeeper.ui.editors.ProjectEditorInputFactory">
       </factory>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             class="ru.taximaxim.codekeeper.ui.editors.CodekeeperLinkHelper"
             id="ru.taximaxim.codekeeper.ui.editors.codekeeperlinkHelper">
          <editorInputEnablement>
             <instanceof
                   value="ru.taximaxim.codekeeper.ui.editors.ProjectEditorInput">
             </instanceof>
          </editorInputEnablement>
          <selectionEnablement>
             <adapt
                   type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="ru.taximaxim.codekeeper.ui.nature">
                </test>
             </adapt>
          </selectionEnablement>
       </linkHelper>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding
             viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
             <contentExtension
                   pattern="ru\.taximaxim\.codekeeper\.ui\.editors\.codekeeperlinkHelper">
             </contentExtension>
          </includes>
       </viewerContentBinding>
    </extension>
    <extension
          point="org.eclipse.ui.console.consolePageParticipants">
       <consolePageParticipant
             class="ru.taximaxim.codekeeper.ui.consoles.ShowConsoleParticipant"
             id="ru.taximaxim.codekeeper.ui.consoles.ForceShowConsole">
          <enablement>
             <instanceof
                   value="ru.taximaxim.codekeeper.ui.consoles.CodekeeperConsole">
             </instanceof>
          </enablement>
       </consolePageParticipant>
    </extension>
</plugin>
